<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="list.length === 0">Sin registros</ion-title>
    <ion-title *ngIf="list.length === 1">1 Capturado</ion-title>
    <ion-title *ngIf="list.length > 1">{{list.length}} Capturados</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="readBarcode()">Leer codigo</button>  

  <ion-list>

    <ion-list-header>Registrados</ion-list-header>

    <ion-item *ngFor="let item of list" >
      <h2>{{item.num}}</h2>
      <p>{{item.date}}</p>
      <!-- <ion-note item-right>{{item.date}}</ion-note> -->
      <!-- <ion-note item-right>{{moment(item.date).fromNow()}}</ion-note> -->
    </ion-item>

    <ion-item>
      <h2>Rex</h2>
      <p>Were you scared? Tell me honestly.</p>
      <ion-note item-right>7:22 am</ion-note>
    </ion-item>

  </ion-list>

</ion-content>